.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    background-color: blueviolet;
    margin-top: 150px;
}
.boardContainer {
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dark {
    background-color: black;
    width: 50px;
    height: 50px;
}
.light {
    background-color: tomato;
    height: 50px;
    width: 50px;
}
.row {
    display: flex;
    flex-direction: row;
}